<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: html_head"></head>

<body>
	<div th:replace="fragments :: menu"></div>  
	
	<div class="Container" style="padding-top:100px;">	</div>	
	
	
	
  <div class="container my-5">
	  <div class="row">
			<div class="col-12 text-center my-1" >
		      <h1 class="display-5"><i class="fas fa-edit text-primary"></i>&nbsp ALTERANDO EVENTO</h1> 
			</div>
		
		  <form  action="/editarevento"  method="post"  enctype="multipart/form-data" th:object="${evento}">
   	
			<div class="form-group">
				<label for="imagem">Imagem do Evento</label>
				<input type="file" class="form-control"  name="fileEvento"  >
			</div>
			   
  			   <div class="form-group">
			  	<input type="text" class="form-control" name="id" readonly="readonly" placeholder="Id"  th:field="*{id}">
			   </div>
		
			   <div class="form-group">
			  	<input type="text" class="form-control" name="data" placeholder="Data *" th:field="*{data}" >
			   </div>
						      
			   <div  class="form-group">
				<input type="text" class="form-control" name="hora" placeholder="Hora*" th:field="*{hora}" >
			   </div>
			   
			   
			    <div  class="form-group">
				 <input type="text" class="form-control" name="local" placeholder="Local*" th:field="*{local}" >
			    </div>
			   
			    <div  class="form-group">
				 <input type="text" class="form-control" name="nome" placeholder="Nome do Evento*" th:field="*{nome}" >
			    </div>
						      
					      
			     <small class="form-text text-muted">(*) Campo de preenchimento obrigatório</small>
				
				 <th:block th:include="mensagemvalidacao"></th:block>	  
			 
			 <button type="submit" class="btn btn-primary" style="margin-top:10px;">Enviar</button>  
				   
			  <a href="/eventos" class="btn btn-warning" role="button" style="margin-top:10px;" >Cancelar</a>
			  
		 </form> 
	</div>
 </div>
 	

	<div th:replace="fragments :: footer"></div>   
	 	

</body>
</html>