<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: html_head"> </head>

<body>
	 
	<div th:replace="fragments :: menu"></div>

	
 <div class="Container" style="padding-top:100px;">		
  <header>
		<!-- Just an image -->
		  <nav class="navbar navbar-light bg-light">
		    <span class="navbar-brand   mb-0 h1" style="font-weight:bold;" >IBVC</span>
          
            <a href="/novoevento" class="btn btn-info" > Novo Evento </a>
         </nav>      
  </header>          
</div>	
	   <th:block th:include="mensagemvalidacao"></th:block>
		<div class="container">
		   <div class="card shadow-sm bg-white rounded" style="margin-top:20px;" th:each="event : ${evento}">
  					<div class="card-body">
  						<p class="card-subtitle mb-2 text-muted" style="font-size:1rem;">
  							<label></label>
  							<span>
  							 	<img alt="imagem" style="margin-left:20%;" th:src="|/imagemevento/${event.id}|"/> 
  							</span>
  							
  							<br>
  						    <label>Evento:</label>
  							<span th:text="${event.nome}"></span>
  							<br>
  							<label>Local:</label>
  							<span th:text="${event.local}"></span>
  							<br>
  							<label>Data:</label>
  							<span th:text="${event.data}"></span>
  							<br>
  							<label>Hora:</label>
  							<span th:text="${event.hora}"></span>
  						</p>
  						
  						<a class="btn btn-warning" th:href="@{editarevento/{id}(id=${event.id})}"> Editar </a>
  					<!--   	<a class="btn btn-danger"th:href="@{excluirevento/{id}(id=${event.id})}"> Excluir </a> -->
  					 	
  					 	
  					 <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#confirm">Excluir</button>

						<div class="modal fade" id="confirm" role="dialog">
						  <div class="modal-dialog modal-md">
						
						    <div class="modal-content">
						      <div class="modal-body">
						            <p> Deseja realmente excluir o registro ?</p>
						      </div>
							      <div class="modal-footer">
							        <a th:href="@{excluirevento/{id}(id=${event.id})}" type="button" class="btn btn-danger" id="delete">SIM</a>
							        <button type="button" data-dismiss="modal" class="btn btn-success">Cancelar</button>
							      </div>
						    </div>
						
						  </div>
						</div>
  					 </div>	
  						 
				</div>
	  	   
	
	
	
	<div th:replace="fragments :: footer"></div>

</body>
</html>